.content {
  align-items: center; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
}

.tourTitle {
  padding-top: 24px;
}

.tourDescription {
  align-self: start;
  padding: 12px 0;
}

.streetEats {
  background:rgba(139, 154, 70, 0.5);
}

.nightmarket {
  background: rgb(215, 233, 300);
}

.background {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://i.pinimg.com/originals/27/0a/85/270a85fed3ba6725b924ab73c64a7fd3.jpg);
  min-height: 30vh;
}

.about {
  color: black;
}

.ant-card .ant-card-body {
  padding: 12px 24px 24px;
}

.background > * {
  color: #EEEEEE !important;
}